<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	    	<a class="navbar-brand" href="#">First Latinamerica Hackaton 2014 ITBA</a>
	    </div>
	    <div>
		    <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">About</a></li>
		    </ul>
		</div>
	</div>
</nav>
<div id="graph">
</div>
