<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	    	<a class="navbar-brand" href="#">Visualizando Transacciones y Bloques con D3.js</a>
	    </div>
	</div>
</nav>
<div id="graph" style="margin-top:60px">
</div>
